@font-face {
  font-family: 'Aldo The Apache';
  src: url('aldo-the-apache.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metal Storm';
  src: url('metal-storm-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Robot Font';
  src: url('robot-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
